{{ define "content" }}
<div class="row">
	<div class="panel panel-default">
			<div class="panel-heading">About</div>
			<div class="panel-body">
				<h1>Service Discover <small>for Docker written in Go</small></h1>
				<p>
					For more information and help, refer to the GitHub Project Page: <a href="https://github.com/herzog31/service-discovery">service-discovery</a>.
				</p>
				<p>
					Please report any issues at <a href="https://github.com/herzog31/service-discovery/issues">GitHub</a> or contact <a href="mailto:mjb@marbec.com">mjb@marbec.com</a>
				</p>
				<h2>API Documentation</h2>
				<p>
					For a full API documentation, refer to <a href="https://github.com/herzog31/service-discovery/blob/master/API.md">API.md</a>.
				</p>
			</div>
		</div>
</div>
{{ end }}